html, body {
	background-color: #242424;
    background-image: url(images/templatemo_body.jpg);
    background-position: center top;
    background-repeat: repeat-x;
    color: #AFBEC5;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 13px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
	}

table {width: 100%;}
table td {padding: 0; border-width: 0; vertical-align: top; }

a {color: #0EB4FA; text-decoration: none; font-weight: bold; background-color: transparent;}
a:hover {color: #ff6600;}

h1 {font-size:1.4em;}
h2 {font-size:1.3em;}
h3 {font-size:1.2em;}
h4 {font-size:1.1em;}
h5 {font-size:1em;}
ul { margin: 2px; padding: 2px; list-style: disc inside; text-align: left;}
ol { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; color: #2A75C5;}

input.formButton {}

.item {border: 0px solid #666;}
.itemHead {padding: 3px; background-color: transparent; color: #fff;}
.itemInfo {text-align: right; padding: 3px; background-color: transparent}
.itemTitle a {font-size: 1.2em; font-weight: bold; font-variant: small-caps; color: #fff; background-color: transparent;}
.itemPoster {font-size: .9em; font-style:italic;}
.itemPostDate {font-size: .9em; font-style:italic;}
.itemStats {font-size: .9em; font-style:italic;}
.itemBody {padding-left: 5px;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 1.5em;}
.itemText:first-letter {font-size: 1.3em; font-weight: bold;}
.itemFoot {text-align: right; padding: 3px; background-color: #efefef;}
.itemAdminLink {font-size: .9em;}
.itemPermaLink {font-size: .9em;}


#templatemo_main_wrapper {
	background: url(images/templatemo_footer.jpg) center bottom no-repeat;
}

/*==========  templatemo_header.html  ===============*/


#templatemo_header {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
	overflow: hidden;
	padding: 0 20px;
	background: url(images/templatemo_header.jpg) no-repeat;
}

#site_title {
	float: left;
	width: 250px;
	margin: 65px 0 0 50px;
	text-align: left;
}

#site_title a {
	margin: 0px;
	padding: 0px;
	font-size: 36px;
	color: #252b2d;
	font-weight: bold;
	text-decoration: none;
}

#site_title a span {
	display: block;
	font-size: 12px;
	color: #333;
	margin-top: 10px;
}

#header_right {
	float: right;
	width: 580px;
	padding: 20px 30px 0;
	height: 190px;
}

#header_right h1 {
    color: #000000;
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 15px;
    padding-top: 130px;
    text-align: right;
}

#header_right p {
    color: #000000;
    font-size: 18px;
    margin-bottom: 15px;
    width: 600px;
}

#header_right a { font-size: 14px; font-weight: bold; text-decoration: none; color: #000; }
#header_right a span { font-size: 20px; }

#twitter img{
	padding-left: 80px;
	margin-top: 20px;
}

#twitter{
	width: 250px;
	float: right;
}

#twitter a {
	display: block;
	float: right;
	padding: 25px 0 0 0px;
	color: #99eafc;
	height: 25px;
	font-size: 16px;
	margin-bottom: 35px;
	background: url(images/twitter.png) no-repeat left;
}

#twitter a:hover {
	color: #000;
}

.btn_more a {
	color: #a5e224;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.btn_more a span { font-size: 18px; }

.image_fl { float: left; margin: 3px 15px 0 0; }
.image_fr { float: right; margin: 3px 0 0 15px; }

/* =============== templatemo_menu.html =================*/
#templatemo_menu {
	clear: both;
		width: 940px;
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	padding: 0 20px;
	background: url(images/templatemo_menu.jpg) no-repeat;
}

#templatemo_menu ul {
	float: right;
	margin: 0;
	padding: 6px 35px;
	list-style: none;
	display: inline-block;
}

#templatemo_menu ul li {
	padding: 0;
	margin: 0;
	display: inline-block;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	font-size: 16px;
	width: 125px;
	height: 33px;
	padding-top: 12px;
	color: #99eafc;	
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	outline: none;
}

#templatemo_menu ul li a:hover, #templatemo_menu ul .current {
	color: #333;
	background: url(images/templatemo_menu_hover.png) no-repeat center top;
}




#header {
    margin :                0;
    padding :               0;
    height:                 80px;
    background:             #2A75C5 url(xo-banner_bg.png) repeat-x left top;
    padding:                2px;
    color:                  #fff;
    border:                 1px solid #000;
}
#headerbanner {width: 100%; vertical-align: middle; text-align:center;}
/* fix for banner */
#xo-bannerfix {
    /*position:               absolute;*/
	position: relative;
	float: right;
    top:                    5px;
    right:                  25px;
    width:                  480px;
    height:                 72px;
    background:             url(bg-ad-top.png) no-repeat;
	padding:				6px;
	z-index:99;
}
#xo-bannerfix object, #xo-bannerfix img {display: block;}
/* end fix for banner */
#headerlogo img {padding: 0;}
#headerbar {border-bottom: 1px solid #ddd; background-image: url(hbar.gif);}

#leftcolumn {width: 170px; border-right: 0px solid #ccc; font-size:1em; padding-left: 16px;}
#leftcolumn th {background-color: #2A75C5; color: #fff; vertical-align: middle;}
#leftcolumn .blockTitle {
	padding: 3px; 
	background-color: transparent;
	color: #fff;
    font-size: 28px;
    font-weight: normal;
    margin: 0 0 20px;
    padding: 10px 0 15px;
    }
#leftcolumn .blockContent {padding: 3px; line-height: 1.2em;}



/*================== content =======================*/

#xd-content {
		 background: url(images/templatemo_content_top.jpg) no-repeat scroll center top transparent;
	    clear: both;
	    padding: 40px;
		width: 940px;
		margin-left: auto;
		margin-right: auto;
}


#centercolumn {font-size: 1em; padding: 0 0 0 1px;}
#centercolumn th {background-color: #0F678B; color: #fff; vertical-align: middle;}

#centerCcolumn, #bottomCcolumn {padding: 0 3px 1px 3px;}
#centerCcolumn .blockTitle, #bottomCcolumn .blockTitle {	
	padding: 3px; 
	background-color: transparent;
	color: #fff;
    font-size: 28px;
    font-weight: normal;
    margin: 0 0 20px;
    padding: 10px 0 15px;}
#centerCcolumn .blockContent, #bottomCcolumn .blockContent { padding: 3px; margin-right: 0;  margin-left: 0; margin-bottom: 2px; line-height: 1.2em;}

#centerLcolumn, #bottomLcolumn, #centerRcolumn, #bottomRcolumn {
        width: 50%; padding: 0 3px 0 0;
}
#centerLcolumn .blockTitle, #bottomLcolumn .blockTitle, #centerRcolumn .blockTitle, #bottomRcolumn .blockTitle {
    padding: 3px; 
	background-color: transparent;
	color: #fff;
    font-size: 28px;
    font-weight: normal;
    margin: 0 0 20px;
    padding: 10px 0 15px;
}
#centerLcolumn .blockContent, #centerRcolumn .blockContent, #bottomLcolumn .blockContent, #bottomRcolumn .blockContent {
         padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; line-height: 1.2em;
}

#content {text-align: left; padding: 8px;}

#rightcolumn {width: 170px; border-left: 0px solid #ccc; font-size:1em;}
#rightcolumn th {background-color: #2A75C5; color: #fff; vertical-align: middle;}
#rightcolumn .blockTitle {
		padding: 3px; 
	background-color: transparent;
	color: #fff;
    font-size: 28px;
    font-weight: normal;
    margin: 0 0 20px;
    padding: 10px 0 15px;
	}
#rightcolumn .blockContent {padding: 3px; line-height: 1.2em;}

/* ===============   templatemo_footer.html   ===============*/
#templatemo_footer {
	clear: both;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 30px 20px;
	color: #ccc;
	background: url(images/templatemo_footer.jpg) center bottom no-repeat;
	border-top: 1px solid #434343;
	height: 300px;
}

.col_w300 {
	float: left;
	width: 260px;
	padding-right: 40px;
}

#templatemo_footer h4 {
	color: #fff;
	margin-bottom: 10px;
}

#templatemo_footer p {
	margin-bottom: 10px;
}

#templatemo_footer ul { padding: 0; margin: 0; list-style: none; }

#templatemo_footer li { padding: 0; margin: 0 0 5px 0; }

#templatemo_footer li a {
	display: block;
	text-decoration: none;
	color: #fff;
	border-bottom: 1px dotted #ccc;
}

#templatemo_footer li a:hover {
	color: #edae05;
}

#templatemo_footer .last {
	padding-right: 0;
}

#templatemo_copyright {
    clear: both;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px 10px;
    text-align: center;
    width: 940px;
}

#templatemo_copyright a {
	color: #fff;
}

#mainmenu a {background-color: transparent; display: block; margin: 0; padding: 4px;}
#mainmenu a:hover {background-color: #fff;}
#mainmenu a.menuTop {padding-left: 3px; }
#mainmenu a.menuMain {padding-left: 3px; }
#mainmenu a.menuSub {padding-left: 9px; }
#mainmenu a.maincurrent {background-color:transparent; color:#ff9900;}

#usermenu { font-size : .9em;}
#usermenu a {background-color: transparent; display: block; margin: 0; padding: 2px; border-right: 0px solid #666; border-bottom: 0px solid #666; border-left: 0px solid #c0c0c0; font-weight : normal;}
#usermenu a:hover {background-color: #fff;}
#usermenu a.menuTop {border-top: 0px solid #c0c0c0;}
#usermenu a.highlight {background-color: #fcc;}


caption {font-weight: bold;}
th, thead {background-color: #2A75C5; padding : 2px; color: #fff; vertical-align : middle;}
.outer {border: 1px solid #0F678B;}
.head {background-color: #c2cdd6; padding: 5px; font-weight: bold;color: #000;}
.even {background-color: #dee3e7; padding: 5px;color: #000;}
.odd {background-color: #E9E9E9; padding: 5px;color: #000;}
.foot {background-color: #c2cdd6; padding: 5px; font-weight: bold;}
tr.even td {background-color: #dee3e7; padding: 5px;}
tr.odd td {background-color: #E9E9E9; padding: 5px;}
tr.foot td {background-color: #c2cdd6; padding: 5px; color:#000; font-weight: bold;}

.errorMsg,.confirmMsg, .resultMsg  { padding: .8em; text-align:center; margin-bottom: 1em; border: 2px solid #ddd;}
.errorMsg  { background-color: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.confirmMsg { background-color: #FFF6BF; color: #817134; border-color: #FFD324; }
.resultMsg { background-color: #E6EFC2; color: #529214; border-color: #C6D880; }
.errorMsg a { background-color: transparent; color: #D12F19; }
.confirmMsg a { background-color: transparent; color: #817134; }
.successMsg a { background-color: transparent; color: #529214; }

.xoopsCode { background: #fff; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0 6px 6px 6px; height: 200px; overflow: auto; font-size:.9em;color: #000;}
.xoopsQuote { background: #fff; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0 6px 6px 6px; font-size:.9em;color: #000;}
blockquote {font-style : italic; line-height:1.4em;}

.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: .9em; color: #2A75C5; font-weight:bold; border: 1px solid #c0c0c0; background-color: #fff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #2A75C5; font-weight:bold; font-size: .9em;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: .9em;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName a {color: #fff;}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: .8em;}
.comDateCaption {font-weight: bold; font-style: normal;}

/*============== Styles for system_siteclosed.html  (override system module) =================*/

#xo-top {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#xo-top form{
	text-align: center;
}

#xo-siteclose {
    width:                  400px;
    margin:                 100px auto;
    background-color:       #e2e2e2;
    padding:                30px;
    color:                  #000;
    font-size:              1.2em;
    font-weight:            bold;
    text-align:             center;
    border:                 1px solid #666;
}
#xo-userbar_siteclosed {
    display:                block;
    background:             #2A75C5 url(xo-banner_bg.png) repeat-x left top;
    padding-top:            8px;
    padding-right:          1em;
    color:                  #fff;
    font-size :             .8em;
    text-align :            center;
}
#xo-userbar_siteclosed form {
    display:                inline;
    padding:                0;
}

#xo-userbar_siteclosed input, #xo-userbar_siteclosed button {
    width:                  100px;
    background-color:       transparent;
    color:                  #fff;
    font-size :             .9em;
    margin:                 2px;
}
#xo-userbar_siteclosed input:hover {}

/*============== Styles for system_redirect.html (override system module) =================*/
#xo-redirect {
    width:                  780px;
    margin:                 50px auto;
    padding:                1em;
    font-weight:            bold;
    text-align:             center;
}
#xo-redirect .notreload {
    height:                 28px;
    background-color:       inherit;
    padding-top:            2px;
    color:                  #000;
}
#xo-redirect .notreload a {
    background-color:       inherit;
    color:                  #ff0000;
    font-weight:            bold;
    text-decoration:        none;
}
#xo-redirect .message {
    min-height:             60px;
    background-color:       #f3f3f3;
    padding:                1em;
    color:                  #333;
    font-size:              1.2em;
    text-align:             center;
    border:                 1px solid #666;
}
#xo-redirect .message img{
    padding:                1em;
}
/*============== Styles for pagenav =================*/
#xo-pagenav {
    margin:                 7px 0;
    text-align:             center;
    font-size:              1.05em;
}
#xo-pagenav a {
    text-decoration:        none;
}
#xo-pagenav a:hover {
    color:                  #fff;
    background-color:       #2A75C5;
    border:                 1px solid #fff;
}
.xo-pagact {
    margin:                 0;
    padding:                .2em .5em;
    color:                  #fff;
    background-color:       #2A75C5;
    border:                 1px solid #fff;
}
.xo-counterpage, .xo-pagarrow {
    margin:                 0;
    padding:                .2em .5em;
    color:                  #000;
    background-color:       #fff;
    border:                 1px solid #000;
}
.xo-counterpage:hover {}
.xo-pagarrow {
    letter-spacing:         0.2em;
}
/*======= Tinymce background textarea ========*/
body.mceContentBody {
    margin:                 0;
    padding:                0;
    background-color:       #fff;
    background-image:       none;
    color:                  #000;
}
