


#nav ul {list-style:none;}


#homeheader {background: url(../images/headerbg-home.jpg) repeat; height:334px; padding:8px; margin-top:-4px;}
#leftheader {background: url(../images/greenbox.jpg) no-repeat; height:334px; width:637px; float:left;}
#rightheader {background:url(../images/coffeebox-ads.jpg) no-repeat; height:326px; padding-top:8px; float:right; width:284px;}
#featured-dl {background:url(../images/slidepng.png) no-repeat; width:597px; height:233px; overflow:hidden;}
#slidewrapper {padding:20px 20px 0 20px;}
#homeheader h2 {display:block; font:bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif; text-transform:uppercase; text-shadow:#2a3107 1px 1px 1px; color:#ece4d8; margin-bottom:10px; padding-top:10px;}
#content { background:url(../images/sidebarbg.jpg) right top repeat-y;}

#wrap {width:984px; margin:auto; background:#fff; border-left: solid 8px #f5f5f5; border-right: solid 8px #f5f5f5;}
#topribbon {background: url(../images/ribbonbg.jpg) repeat-x; height:52px;}

h1#sitename {display:block; font:bold 30px Georgia, "Times New Roman", Times, serif; color:#fff; padding:8px 5px 0 10px; float:left;}

#nav {list-style:none; display:block; float:right; width:550px;}
#nav li {display:inline; font:bold 16px "Trebuchet MS", Arial, Helvetica, sans-serif; text-transform:uppercase; text-shadow:#000 1px 1px 1px;}
#nav li a {display:block; height:35px; padding:12px 17px 0 15px; float:left; color:#D3C8C1;}
#nav li a:visited, #nav li a:active { color:#D3C8C1;}
#nav li a:hover, #nav li.active a {color:#fff; background:url(../images/active-menu.jpg) center bottom no-repeat;}
.brnad { width:252px; margin:0 auto 8px auto; background:#000; padding:5px;}



#content {position:relative;}





a { color:#4c561f; text-decoration:none;}
a:visited, activer { color:#4c561f; text-decoration:none;}
#footercontainer a {color:#000;}
h1#sitename {display:block; font:bold 30px Georgia, "Times New Roman", Times, serif; color:#fff; padding:8px 5px 0 10px; float:left;}







