html, body {color: #000; background-color: #929292; margin: 0; padding: 0; font-size:9pt; font-family: Verdana, Arial, Helvetica, sans-serif;width: 1000px;margin-left: auto;margin-right: auto;}

table {width: 100%;}
table td {padding: 0; border-width: 0; vertical-align: top; }

a {color: #666; text-decoration: none; font-weight: bold; background-color: transparent;}
a:hover {color: #ff6600;}

h1 {font-size:1.4em;}
h2 {font-size:1.3em;}
h3 {font-size:1.2em;}
h4 {font-size:1.1em;}
h5 {font-size:1em;}
ul { margin: 2px; padding: 2px; list-style: disc inside; text-align: left;}
ol { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; color: #2A75C5;}

input.formButton {}

.item {border: 1px solid #666;}
.itemHead {padding: 3px; background-color: #2A75C5; color: #fff;}
.itemInfo {text-align: right; padding: 3px; background-color: #efefef}
.itemTitle a {font-size: 1.2em; font-weight: bold; font-variant: small-caps; color: #fff; background-color: transparent;}
.itemPoster {font-size: .9em; font-style:italic;}
.itemPostDate {font-size: .9em; font-style:italic;}
.itemStats {font-size: .9em; font-style:italic;}
.itemBody {padding-left: 5px;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 1.5em;}
.itemText:first-letter {font-size: 1.3em; font-weight: bold;}
.itemFoot {text-align: right; padding: 3px; background-color: #efefef;}
.itemAdminLink {font-size: .9em;}
.itemPermaLink {font-size: .9em;}

#header {

    height:                 200px;
    background:url(images/header.png) no-repeat top;
    color:                  #fff;
   
}

#XDBanner{
	float: right;
}

#XDHeaderlogo{
	width: 400px;
	height: 100px;
}

#XDHeaderlogo strong{
	padding-left: 10px;
	color: #fff;
}

#XDHeaderlogo a{
	font-size: 42px;
	color: #fff;
	padding-left: 10px;
}

#headerbanner {width: 100%; vertical-align: middle; text-align:center;}
/* fix for banner */
#xo-bannerfix {
    /*position:               absolute;*/
	position: relative;
	float: right;
    top:                    20px;
    right:                  25px;
    width:                  480px;
    height:                 72px;
    background:             url(bg-ad-top.png) no-repeat;
	padding:				6px;
	z-index:99;
}

#XDSocial{
    
    width: 96%;
    
}

#XDSocialbanner{
    
    width: 96%;
    
}

#XDCommercial{
	width: 250px;
	background: #fff;
	height: 57px;
	float: right;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

#XDCommercial ul{
	display: inline;
}

#XDCommercial li{
	display: inline;
}

#XDCommercial li a{
	display: inline;
}

#XDCommercial img{
	padding-left: 10px;
    padding-top: 14px;
}

#XDBarnav{
	margin-top: 55px;
}

#XDBarnav ul{
	background-image: url(images/barnav.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 45px;
}

#XDBarnav li a{
	    float: left;
    font-weight: bold;
    height: 43px;
    line-height: 50px;
    margin-left: 40px;
    padding: 0 20px;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
}

#XDBarnav li a:hover{
	 background-color: #E0E0E0;
    border-radius: 5px 5px 0 0;
    color: #000000;
    height: 40px;
    margin-top: 5px;
    line-height:43px;
}

#XDBarnav li {
		
		height:46px; 
		float:left; 
		font-weight:bold;
		
		text-decoration:none; 
		line-height:44px; 
		white-space:nowrap; 
		color:#fff;
		display: inline;
}

#XDBarnav .current{
    background-color: #E0E0E0;
    border-radius: 5px 5px 0 0;
    color: #000000;
    height: 40px;
    margin-top: 5px;
    line-height:44px;
}


#XDSubmenu{
	height: 48px;
	background-color: #e0e0e0;
	margin-top: -1px;
}

#XDSubmenu ul{
	width: 100%;
	text-align: center;
}

#XDSubmenu li{
	display: inline;
}

#XDSubmenu li a{
	padding-left: 25px;
	line-height:44px;
}


.XD-block {padding: 0 5px 0 0;}

#xo-bannerfix object, #xo-bannerfix img {display: block;}
/* end fix for banner */
#XDLogo{
	width: 300px;
	height: 100px;
}

#headerlogo img {padding: 0;}
#headerbar {border-bottom: 1px solid #ddd; background-image: url(hbar.gif);}

#XDContent{
	padding-top: 10px;
	background-image: url(images/background_XDContent.png);
	background-repeat: x;
}

#leftcolumn {width: 300px; padding-left: 5px;font-size:1em;}
#leftcolumn th {background-color: #2A75C5; color: #fff; vertical-align: middle;}
#leftcolumn .blockTitle {	
	padding: 10px; 
	background-color: #edecec; 
	color: #4a4a4a; 
	font-weight: bold;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	border-bottom: 1px solid #c6c6c6;
	border-top: 1px solid #c6c6c6;
	border-left:1px solid #c6c6c6 ;
	border-right:1px solid #c6c6c6 ;
	font-size: 18px;
	font-family: Times New Roman;
	}
#leftcolumn .blockContent {
    background: none repeat scroll 0 0 #FCFCFC;
    border-color: #C6C6C6;
    border-style: solid;
    border-width: 0 1px 1px;
    line-height: 1.2em;
    margin-bottom: 10px;
    padding: 10px;
	}


#centercolumn {font-size: 1em; padding: 0 0 0 1px;}
#centercolumn th {background-color: #2A75C5; color: #fff; vertical-align: middle;}

#centerCcolumn, #bottomCcolumn {padding: 0 3px 1px 3px;}
#centerCcolumn .blockTitle, #bottomCcolumn .blockTitle {
	padding: 3px; 
	color: #4A4A4A;
    font-family: Times New Roman;
    font-size: 18px;
    font-weight: bold; 
	margin-top: 0;
    margin-right: 0;  
    margin-left: 0; 
    
    }
#centerCcolumn .blockContent, #bottomCcolumn .blockContent { padding: 3px; margin-right: 0;  margin-left: 0; margin-bottom: 2px; line-height: 1.2em;}

#centerLcolumn, #bottomLcolumn, #centerRcolumn, #bottomRcolumn {
        width: 50%; padding: 0 3px 0 0;
}
#centerLcolumn .blockTitle, #bottomLcolumn .blockTitle, #centerRcolumn .blockTitle, #bottomRcolumn .blockTitle {
    padding: 3px; 
	color: #4A4A4A;
    font-family: Times New Roman;
    font-size: 18px;
    font-weight: bold; 
	margin-top: 0;
    margin-right: 0;  
    margin-left: 0;
}
#centerLcolumn .blockContent, #centerRcolumn .blockContent, #bottomLcolumn .blockContent, #bottomRcolumn .blockContent {
         padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; line-height: 1.2em;
}

#content {text-align: left; padding: 8px;}

#rightcolumn {width: 300px;  font-size:1em;}
#rightcolumn th {background-color: #2A75C5; color: #fff; vertical-align: middle;}
#rightcolumn .blockTitle {
	padding: 10px; 
	background-color: #edecec; 
	color: #4a4a4a; 
	font-weight: bold;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	border-bottom: 1px solid #c6c6c6;
	border-top: 1px solid #c6c6c6;
	border-left:1px solid #c6c6c6 ;
	border-right:1px solid #c6c6c6 ;
	font-size: 18px;
	font-family: Times New Roman;
	}
#rightcolumn .blockContent {
	  background: none repeat scroll 0 0 #FCFCFC;
    border-color: #C6C6C6;
    border-style: solid;
    border-width: 0 1px 1px;
    line-height: 1.2em;
    margin-bottom: 10px;
    padding: 10px;
	}
	
#XDFooterbar{
	width: 990px;
	height: 30px;
}	

#footerbar { background-image: url(images/footer.png); font-size:.9em; height : 49px; text-align:center;background-repeat: no-repeat;background-position: center;}

#footerbar p{
	line-height:50px;
	color: #fff;
}

#XDFooterbar-top img{
	height: 31px;
}

#XDFooterbar-top{
    float: right;
    margin-top: 10px;
    padding-right: 40px;
}

#XDFooter-bottom{
	border: 2px solid#00a2f6;
}


#mainmenu a {background-color: transparent; display: block; margin: 0; padding: 4px;}
#mainmenu a:hover {background-color: #ddd;}
#mainmenu a.menuTop {padding-left: 3px; }
#mainmenu a.menuMain {padding-left: 3px; }
#mainmenu a.menuSub {padding-left: 9px;}
#mainmenu a.maincurrent {background-color:transparent; color:#ff9900;}

#usermenu { font-size : .9em;}
#usermenu a {background-color:transparent; display: block; margin: 0; padding: 2px; font-weight : normal;}
#usermenu a:hover {background-color: #ddd;}
#usermenu a.menuTop {}
#usermenu a.highlight {background-color: #fcc;}


caption {font-weight: bold;}
th, thead {background-color: #2A75C5; padding : 2px; color: #fff; vertical-align : middle;}
.outer {border: 1px solid #c0c0c0;}
.head {background-color: #c2cdd6; padding: 5px; font-weight: bold;}
.even {background-color: #dee3e7; padding: 5px;}
.odd {background-color: #E9E9E9; padding: 5px;}
.foot {background-color: #c2cdd6; padding: 5px; font-weight: bold;}
tr.even td {background-color: #dee3e7; padding: 5px;}
tr.odd td {background-color: #E9E9E9; padding: 5px;}
tr.foot td {background-color: #c2cdd6; padding: 5px; color:inherit; font-weight: bold;}

.errorMsg,.confirmMsg, .resultMsg  { padding: .8em; text-align:center; margin-bottom: 1em; border: 2px solid #ddd;}
.errorMsg  { background-color: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.confirmMsg { background-color: #FFF6BF; color: #817134; border-color: #FFD324; }
.resultMsg { background-color: #E6EFC2; color: #529214; border-color: #C6D880; }
.errorMsg a { background-color: transparent; color: #D12F19; }
.confirmMsg a { background-color: transparent; color: #817134; }
.successMsg a { background-color: transparent; color: #529214; }

.xoopsCode { background: #fff; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0 6px 6px 6px; height: 200px; overflow: auto; font-size:.9em;}
.xoopsQuote { background: #fff; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0 6px 6px 6px; font-size:.9em;}
blockquote {font-style : italic; line-height:1.4em;}

.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: .9em; color: #2A75C5; font-weight:bold; border: 1px solid #c0c0c0; background-color: #fff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #2A75C5; font-weight:bold; font-size: .9em;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: .9em;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName a {color: #fff;}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: .8em;}
.comDateCaption {font-weight: bold; font-style: normal;}

/*============== Styles for system_siteclosed.html  (override system module) =================*/
#xo-siteclose {

    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    height: 120px;
    text-align: center;
    width: 350px;

}
#xo-userbar_siteclosed {
    display:                block;
    padding-top:            8px;
    padding-right:          1em;
    color:                  #fff;
    font-size :             .8em;
    text-align :            center;
}
#xo-userbar_siteclosed form {
    display:                inline;
    padding:                0;
}

#xo-userbar_siteclosed input, #xo-userbar_siteclosed button {
    width:                  100px;
    background-color:       transparent;
    color:                  #fff;
    font-size :             .9em;
    margin:                 2px;
}
#xo-userbar_siteclosed input:hover {}

#login-box {
	width:333px;
	height: 352px;
	padding: 58px 76px 0 76px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(images/login-box-backg.png) no-repeat left top;
	 margin: 0 auto;
}

#login-box img {
	border:none;
	
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 44px "Calibri", Arial;
}


#login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 14px 10px 0 0;
	margin:0 0 7px 0;
}

#login-box-field {
	float: left;
	display:inline;
	width:230px;
	margin:0;
	margin:0 0 7px 0;
}


.form-login  {
	width: 205px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 16px;
	color: #ebebeb;
}


.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 11px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}

/*============== Styles for system_redirect.html (override system module) =================*/
#xo-redirect {
    width:                  780px;
    margin:                 50px auto;
    padding:                1em;
    font-weight:            bold;
    text-align:             center;
}
#xo-redirect .notreload {
    height:                 28px;
    background-color:       inherit;
    padding-top:            2px;
    color:                  #000;
}
#xo-redirect .notreload a {
    background-color:       inherit;
    color:                  #ff0000;
    font-weight:            bold;
    text-decoration:        none;
}
#xo-redirect .message {
    min-height:             60px;
    background-color:       #f3f3f3;
    padding:                1em;
    color:                  #333;
    font-size:              1.2em;
    text-align:             center;
    border:                 1px solid #666;
}
#xo-redirect .message img{
    padding:                1em;
}
/*============== Styles for pagenav =================*/
#xo-pagenav {
    margin:                 7px 0;
    text-align:             center;
    font-size:              1.05em;
}
#xo-pagenav a {
    text-decoration:        none;
}
#xo-pagenav a:hover {
    color:                  #fff;
    background-color:       #2A75C5;
    border:                 1px solid #fff;
}
.xo-pagact {
    margin:                 0;
    padding:                .2em .5em;
    color:                  #fff;
    background-color:       #2A75C5;
    border:                 1px solid #fff;
}
.xo-counterpage, .xo-pagarrow {
    margin:                 0;
    padding:                .2em .5em;
    color:                  #000;
    background-color:       #fff;
    border:                 1px solid #000;
}
.xo-counterpage:hover {}
.xo-pagarrow {
    letter-spacing:         0.2em;
}
/*======= Tinymce background textarea ========*/
body.mceContentBody {
    margin:                 0;
    padding:                0;
    background-color:       #fff;
    background-image:       none;
    color:                  #000;
}
