html, body {color: #019fcd; background:#000 url(images/backgronud-header.png) no-repeat center top ; margin: 0; padding: 0; font-size:9pt; font-family: Verdana, Arial, Helvetica, sans-serif;}

#XDBody{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background: #011422;
}

table {width: 100%;}
table td {padding: 0; border-width: 0; vertical-align: top; }

a {color: #666; text-decoration: none; font-weight: bold; background-color: transparent;}
a:hover {color: #ff6600;}

h1 {font-size:1.4em;}
h2 {font-size:1.3em;}
h3 {font-size:1.2em;}
h4 {font-size:1.1em;}
h5 {font-size:1em;}
ul { margin: 2px; padding: 2px; list-style: disc inside; text-align: left;}
ol { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; color: #2A75C5;}

input.formButton {}

.item {border: 1px solid #666;}
.itemHead {padding: 3px; background-color: #0023345; color: #fff;}
.itemInfo {text-align: right; padding: 3px; background-color: #efefef}
.itemTitle a {font-size: 1.2em; font-weight: bold; font-variant: small-caps; color: #fff; background-color: transparent;}
.itemPoster {font-size: .9em; font-style:italic;}
.itemPostDate {font-size: .9em; font-style:italic;}
.itemStats {font-size: .9em; font-style:italic;}
.itemBody {padding-left: 5px;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 1.5em;}
.itemText:first-letter {font-size: 1.3em; font-weight: bold;}
.itemFoot {text-align: right; padding: 3px; background-color: #efefef;}
.itemAdminLink {font-size: .9em;}
.itemPermaLink {font-size: .9em;}

#XDheader{
		width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	
   
    padding :               0;
    height:                 90px;
   
    padding:                2px;
    color:                  #fff;
    
}
#headerbanner {width: 100%; vertical-align: middle; text-align:center;margin-top: -50px;}
/* fix for banner */
#xo-bannerfix {
    /*position:               absolute;*/
	position: relative;
	float: right;
    top:                    -30px;
    right:                  25px;
    width:                  480px;
    height:                 72px;
    background:             url(bg-ad-top.png) no-repeat;
	padding:				6px;
	z-index:99;
}

.XD-block {padding: 0 5px 0 0;}

#xo-bannerfix object, #xo-bannerfix img {display: block;}
/* end fix for banner */
#headerlogo img {padding: 0;}

#headerlogo span{
	color: #2f810a;
	font-size: 60px;
}

#headerlogo a{
	color: #d6d6d6;
	font-size: 70px;
	padding-left: 10px;
}

#headerbar {
	background: url(images/barnav.png) no-repeat center;
	height: 56px;
}

#XDSlider{
	
	height: 215px;
}

#headerbar ul{
	padding-top: 20px;
	width: 750px;
}

#headerbar li{
	display: inline;
	
}

#headerbar li a{
	padding: 14px;
}

#headerbar li .current{
	color: #ff6600;
}

/*============= Search============= */
#XDbar_search
{
	
	height: 39px;
	padding: 0;
	float: right;
	width: 340px;
	margin-top: -28px;
}

#XDsearch_global_1
{
	background:transparent;
	padding: 2px 5px 2px 20px;
	text-align:left;
	margin-left: 55px;
	margin-top: 8px;
	margin-bottom: 3px;
	height: 16px;
	border: 0px solid #000;
	color: #000;
}


/*============= Search============= */

#leftcolumn {
	width: 300px; 
	font-size:1em;
	padding-right: 15px;
	}
#leftcolumn th {
	background-color: #2A75C5; 
	color: #fff; 
	vertical-align: middle;
	}
#leftcolumn .blockTitle {	
	color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: -38px;
    padding-left: 20px;
    }
    
#leftcolumn .blockContent {
	padding: 3px; 
	line-height: 1.2em;

	color: #fff;
	}

#leftcolumn .blocktopTitle {
	padding: 3px; 
	background-image: url(images/block-title.png);
	background-repeat: no-repeat;
	background-position: center; 
	color: #2A75C5; 
	font-weight: bold;
	height: 60px;
	}

#rightcolumn {
	width: 300px; 
	font-size:1em;
	padding-left: 15px;
	background: #011422;
	}
#rightcolumn th {
	background-color: #2A75C5; 
	color: #fff; 
	vertical-align: middle;
	}
#rightcolumn .blockTitle {    
	color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: -38px;
    padding-left: 20px;
    
    }
#rightcolumn .blocktopTitle {
	padding: 3px; 
	background-image: url(images/block-title.png);
	background-repeat: no-repeat;
	background-position: center; 
	color: #2A75C5; 
	font-weight: bold;
	height: 60px;
	}
#rightcolumn .blockContent {
	padding: 3px; 
	line-height: 1.2em;
	color: #fff;
	}


#centercolumn {font-size: 1em; }
#centercolumn th {background-color: #002334;; color: #fff; vertical-align: middle;}

#centerCcolumn, #bottomCcolumn {padding: 0 3px 1px 3px;background: #011422;}
#centerCcolumn .blockTitle, #bottomCcolumn .blockTitle {    
	color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    margin: -50px 0 20px;
    padding-left: 20px;
    padding-top: 10px;
    
    }
    
/* block perso */
  
    
#xd-block--68 .xd-blockcontent li a{
	display: block;
} 

#xd-block--68 .xd-blockcontent p{
	display: block;
	color: #666;
} 

#xd-block--69 .xd-blockcontent ul{
	display: block;
} 

#xd-block--69 .xd-blockcontent li{
	display: block;
	}   
    
#xd-block--69 .xd-blockcontent li a{
	display: block;
}

#xd-block--70 .xd-blockcontent ul{
	display: block;
} 

#xd-block--70 .xd-blockcontent li{
	display: block;
	background: url(images/fleche-block.png) no-repeat left;
	padding-left: 15px;
}   
    
#xd-block--70 .xd-blockcontent li a{
	display: block;
}
    
    
    
    
    
    
#block-center-bottom{
	padding: 3px; 
	color: #2A75C5; 
	font-weight: bold; 
	margin-top: 0; 
	margin-right: 0;  
	margin-left: 0; 
	font-size:1.1em;
	background-image: url(images/block-center-bottom.png);
	width: 323px;
	height: 50px;
}    

#XDcenterCcolumn, #XDbottomCcolumn{
	padding: 3px; 
	color: #2A75C5; 
	font-weight: bold; 
	margin-top: 0; 
	margin-right: 0;  
	margin-left: 0; 
	font-size:1.1em;
	background-image: url(images/block-center.png);
	width: 663px;
	height: 50px;
	}
	

#centerCcolumn .blockContent, #bottomCcolumn .blockContent { 
padding-left: 10px; 
margin-right: 0;  
margin-left: 0; 
margin-bottom: 2px; 
line-height: 1.2em;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;

background: #001320;
border: 3px solid #002a3c;}



#centerLcolumn, #bottomLcolumn, #centerRcolumn, #bottomRcolumn {
        width: 50%; padding: 0 3px 0 0;
        background: #011422;
}
#centerLcolumn .blockTitle, #bottomLcolumn .blockTitle, #centerRcolumn .blockTitle, #bottomRcolumn .blockTitle {
        	color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: -50px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px
}
#centerLcolumn .blockContent, #centerRcolumn .blockContent, #bottomLcolumn .blockContent, #bottomRcolumn .blockContent {
        padding-left: 10px; 
        margin-left: 2px; 
        margin-right: 3px; 
        margin-bottom: 2px; 
        line-height: 1.2em;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;

background: #001320;
border: 3px solid #002a3c;
}

#content {text-align: left; padding: 8px;}


#footerbar {
background-image: url(images/footer5.png);
background-repeat: no-repeat;
background-position: center;
height: 59px;


    }
    
.footerbottom{
	background:url(images/footer-bottom.png);
	height: 120px;
}    

.footerbottom p{
	    padding-top: 42px;
    position: absolute;
    text-align: center;
    width: 1500px;
    }
#xd-blockfooter {
	display: 					block;
	   margin-left: auto;
    margin-right: auto;
    width: 1000px;
	height:						250px;
	
	background: 			 #011422;
	color: 						inherit;
}
#xd-blockfooter .xd-block {
	display: 					block;
	float: 						left;
	width: 						31%;
	margin: 					.8em .5em .5em 1em;
	min-height:					210px;
	
}
#xd-blockfooter .xd-blocktitle {
	
	padding: 					5px;
	font-size:					1.1em;
	font-weight:				bolder;
	text-align:					left;
	border-bottom: 1px dotted #7b7b7b;
	color: #63ac05;

}
#xd-blockfooter .xd-blockcontent {
	margin : 					1em;
	padding :					.5em;
	line-height: 				1.4em;
}
#xd-blockfooter .outer {background-color: transparent; color:inherit;}
#xd-blockfooter .head {}
#xd-blockfooter .even {}
#xd-blockfooter .odd {}
#xd-blockfooter .foot {}

#mainmenu a {background-color: transparent; display: block; margin: 0; padding: 4px;}
#mainmenu a:hover {background-color: #fff;}
#mainmenu a.menuTop {padding-left: 3px; height: 22px;}
#mainmenu a.menuMain {padding-left: 3px;}
#mainmenu a.menuSub {padding-left: 9px; }
#mainmenu a.maincurrent {background:url(images/background-block-right.png); color:#ff9900;height: 22px;border-top: 1px solid#000;border-bottom: 1px solid#000;}

#usermenu { font-size : .9em;}
#usermenu a {background-color: #002233; display: block; margin: 0; padding: 2px; border-bottom: 1px solid #000;  font-weight : normal;height: 22px;}
#usermenu a:hover {background-color: #fff;}
#usermenu a.menuTop {border-top: 1px solid #000;height: 22px;}
#usermenu a.highlight {background-color: #fcc;}


caption {font-weight: bold;}
th, thead {background-color: #2A75C5; padding : 2px; color: #fff; vertical-align : middle;}
.outer {border: 1px solid #c0c0c0;}
.head {background-color: #003347; padding: 5px; font-weight: bold;}
.even {background-color: #dee3e7; padding: 5px;}
.odd {background-color: #002334; padding: 5px;}
.foot {background-color: #003347; padding: 5px; font-weight: bold;}
tr.even td {background-color: #dee3e7; padding: 5px;}
tr.odd td {background-color: #002334; padding: 5px;}
tr.foot td {background-color: #003347; padding: 5px; color:inherit; font-weight: bold;}

.errorMsg,.confirmMsg, .resultMsg  { padding: .8em; text-align:center; margin-bottom: 1em; border: 2px solid #ddd;}
.errorMsg  { background-color: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.confirmMsg { background-color: #FFF6BF; color: #817134; border-color: #FFD324; }
.resultMsg { background-color: #E6EFC2; color: #529214; border-color: #C6D880; }
.errorMsg a { background-color: transparent; color: #D12F19; }
.confirmMsg a { background-color: transparent; color: #817134; }
.successMsg a { background-color: transparent; color: #529214; }

.xoopsCode { background: #fff; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0 6px 6px 6px; height: 200px; overflow: auto; font-size:.9em;}
.xoopsQuote { background: #fff; border-left: 5px inset #019FCD; font-family: "Courier New",Courier,monospace; padding: 0 6px 6px 6px; font-size:.9em;}
blockquote {font-style : italic; line-height:1.4em;}

.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: .9em; color: #2A75C5; font-weight:bold; border: 1px solid #c0c0c0; background-color: #fff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #2A75C5; font-weight:bold; font-size: .9em;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: .9em;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName a {color: #fff;}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: .8em;}
.comDateCaption {font-weight: bold; font-style: normal;}

/*============== Styles for system_siteclosed.html  (override system module) =================*/



#xo-siteclose {
    width:                  400px;
    margin:                 100px auto;
    background-color:       #e2e2e2;
    padding:                30px;
    color:                  #000;
    font-size:              1.2em;
    font-weight:            bold;
    text-align:             center;
    border:                 1px solid #666;
}

#xo-userbar_siteclosed .xd-siteclose-submit input{
	background-image:url(images/login_closed.png);
    background-repeat: no-repeat;
    border: 0 solid #000000;
    height: 36px;
    margin-left: 135px;
    margin-top: 30px;
    color: transparent;
    cursor: pointer;
}

#xo-userbar_siteclosed .xd-siteclose input{
	width:200px;margin-right:auto;margin-left:auto;
}

#xo-userbar_siteclosed p{
	color: #000;
	font-size: 22px;
}


#xo-userbar_siteclosed {
    display:                block;
    background-image:        url(images/closed.png);
    background-repeat: no-repeat;
    padding-top:            1px;
    padding-right:          1em;
    color:                  #fff;
    font-size :             22px;
    text-align :            center;
    height: 224px;
    width: 356px;
    margin-right:auto; 
    margin-left: auto;
    
}
#xo-userbar_siteclosed form {
    width: 356px;
    margin-right:auto;
  	margin-left: auto;
}

#xo-userbar_siteclosed input, #xo-userbar_siteclosed button {
    width:                  100px;
    background-color:       transparent;
    color:                  #000;
    font-size :             .9em;
    margin:                 2px;
    display: block;
}
#xo-userbar_siteclosed input:hover {}

#footerbarclosed{
	text-align: center;
}

/*============== Styles for system_redirect.html (override system module) =================*/
#xo-redirect {
    width:                  780px;
    margin:                 50px auto;
    padding:                1em;
    font-weight:            bold;
    text-align:             center;
}
#xo-redirect .notreload {
    height:                 28px;
    background-color:       inherit;
    padding-top:            2px;
    color:                  #000;
}
#xo-redirect .notreload a {
    background-color:       inherit;
    color:                  #ff0000;
    font-weight:            bold;
    text-decoration:        none;
}
#xo-redirect .message {
    min-height:             60px;
    background-color:       #f3f3f3;
    padding:                1em;
    color:                  #333;
    font-size:              1.2em;
    text-align:             center;
    border:                 1px solid #666;
}
#xo-redirect .message img{
    padding:                1em;
}
/*============== Styles for pagenav =================*/
#xo-pagenav {
    margin:                 7px 0;
    text-align:             center;
    font-size:              1.05em;
}
#xo-pagenav a {
    text-decoration:        none;
}
#xo-pagenav a:hover {
    color:                  #fff;
    background-color:       #2A75C5;
    border:                 1px solid #fff;
}
.xo-pagact {
    margin:                 0;
    padding:                .2em .5em;
    color:                  #fff;
    background-color:       #002334;
    border:                 0px solid #fff;
}
.xo-counterpage, .xo-pagarrow {
    margin:                 0;
    padding:                .2em .5em;
    color:                  #000;
    background-color:       #fff;
    border:                 1px solid #000;
}
.xo-counterpage:hover {}
.xo-pagarrow {
    letter-spacing:         0.2em;
}
/*======= Tinymce background textarea ========*/
body.mceContentBody {
    margin:                 0;
    padding:                0;
    background-color:       #fff;
    background-image:       none;
    color:                  #000;
}
